.session-e, .session-5:first-of-type{
    display: none !important;
}
.line{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.line-2{
   width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    article {
        border: 2px solid black;
        transition: 1s ease;
        margin: 1%;
    }
}

.session-1, .session-2, .session-3{
        
    article {
        width: 25%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.session-4, .session-5{
    article {
        width: 20%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.session-6 {
    article {
        
        width: 50%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.category-cours .page-title, .archive-description {
    text-align: center;
}

.archive-description {
    margin-bottom: 20px;
}

.session-4 article:nth-of-type(3), .session-4 article:nth-of-type(4), .session-5 article:not(:nth-of-type(5)) {
    border: 2px dotted gray;
}

body.category-cours{
    background-color: lightblue;
}

@media screen and (max-width: 37.5em) {
    .line-2 article  {
        margin: 0;
        p{
        display: none;
    }
        a{
        transform: rotate(-90deg);
    }
    }

}